.button_div {
    margin-top: 50px;
}

.weather_image {
    height: 100px;
    width: 100px;
}

.card-margin {
    margin-top: 50px;
}

.img {
    margin-top: 10px;
}

#details {
    font-size: 14px;
}

#min {
    color: #4392F1;
}

#max {
    color: #F4D35E;
}